.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.chats{
    padding: 10px;
}

.chat{
    font-size: 24px;
}

.chatActive{
    color: blue;
    font-size: 28px;
}

.messages{
    padding: 10px;
}

.message{
    font-size: 12px;
}