.profileInfo{
    grid-area: profileInfo;
}

.profileInfoWrapper{
    display: grid;

    grid-template-areas:
    "avatar description";

    grid-template-columns: 2fr 10fr;
}

.avatar{
    grid-area: avatar;
}
.description{
    grid-area: description;
}
.avatarImage{
    height: 230px;
    width: 230px;
    margin-top: 20px;
    margin-left: 20px;
}

.descriptionText{
    font-size: 18px;
    margin-left: 30px;
}
