.header{
    grid-area: header;
    background-color: #98BF64;
}

.logo{
    width: 60px;
    height: 60px;
    padding-top: 10px;
    padding-left: 55px;
}
.logoText{
    position: absolute;
    color: black;
    margin-left: 140px;
    margin-top: 15px;
    font-size: 22px;
    font-family: Bahnschrift;
}
.search{
    width: 350px;
    height: 40px;
    margin-left: 380px;
    position: absolute;
    margin-top: 20px;
    background-color: #597D35;
    border-radius: 10px;
    border-color: darkolivegreen;
}