.postWrapper{
    display: grid;

    grid-template-columns: 60px 12fr;

    grid-column-gap: 10px;
}

.avatar{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.postMessage{
    margin-left: 10px;
}